body {
    font-family: sans-serif;
    font-size: 1.15rem;
    background-color: #222;
    color: antiquewhite;
}

main {
    max-width: 1000px;
    margin: auto;
}

.banner {
    text-align: center;
    width: 100%;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

a {
    color: antiquewhite;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}


li {
    margin: 1em 3em;
}

#errors {
    color: rgb(156, 71, 71);
    border: solid 1px rgb(156, 71, 71);
    border-radius: 8px;
    font-size: 0.9em;
    padding: 1em;
    width: calc(100% - 2em - 2px);
}

#errors:empty {
    display: none;
}

#new-proposal {
    border: solid 1px rgb(119, 73, 161);
    border-radius: 8px;
    padding: 1em;
    width: calc(100% - 2em - 2px);
}

.proposal {
    border: solid 1px rgb(160, 139, 48);
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
    width: calc(33.33% - 3em - 2px);
}

.proposal>.content {
    color: rgb(160, 139, 48);
}

.proposals {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}